.exchangeButton {
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  background-color: #277eff;
  border: solid 1px #0661db;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.exchangeButton:active {
  background-color: #0661db;
}

.exchangeButton:hover:not(:active):not(:disabled) {
  background-color: #438dfb;
}

.exchangeButton:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
