.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

.col {
  flex: 1 1 auto;
  margin: 0 10px;
}

.rightCol {
  text-align: right;
}

.bigText {
  margin: 0 ;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.smallText {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.8;
}


.inputContainer {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
